/* EvOptionGroup —分组 */

.ev-select-group.ev-select-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ev-select-group.ev-select-group .ev-select-group__title {
  padding: 0 12px;
  height: 34px;
  line-height: 34px;
  font-size: var(--ev-font-size-xs);
  color: var(--ev-text-color-secondary);
}

.ev-select-group.ev-select-group .ev-select-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
