/* EbTooltip — tooltip 样式 */

.eb-popper.eb-tooltip {
  padding: 6px 10px;
  font-size: var(--eb-font-size-xs);
  line-height: 1.4;
  border: none;
}

.eb-popper.eb-tooltip.is-dark {
  background: var(--eb-text-color-primary);
  color: #fff;
  box-shadow: var(--eb-shadow-2);
  --eb-arrow-color: var(--eb-text-color-primary);
  --eb-arrow-edge: var(--eb-text-color-primary);
}

.eb-popper.eb-tooltip.is-light {
  background: var(--eb-bg-color-overlay);
  color: var(--eb-text-color-regular);
  border: 1px solid var(--eb-border-color-light);
  --eb-arrow-color: var(--eb-bg-color-overlay);
  --eb-arrow-edge: var(--eb-border-color-light);
}
