/* EbCollapse —折叠面板 */

.eb-collapse.eb-collapse {
  --eb-collapse-header-height: 48px;
  border-top: 1px solid var(--eb-border-color-lighter);
  border-bottom: 1px solid var(--eb-border-color-lighter);
}

.eb-collapse.eb-collapse .eb-collapse-item {
  border-bottom: 1px solid var(--eb-border-color-lighter);
}
.eb-collapse.eb-collapse .eb-collapse-item:last-child {
  border-bottom: none;
}

.eb-collapse.eb-collapse .eb-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--eb-collapse-header-height);
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--eb-font-size-base);
  font-weight: var(--eb-font-weight-medium);
  color: var(--eb-text-color-primary);
  text-align: left;
  transition: color var(--eb-duration-fast) var(--eb-ease-out);
}
.eb-collapse.eb-collapse .eb-collapse-item__header:hover {
  color: var(--eb-color-primary);
}
.eb-collapse.eb-collapse .eb-collapse-item__header.is-active {
  color: var(--eb-color-primary);
  border-bottom-color: var(--eb-border-color-lighter);
}
.eb-collapse.eb-collapse .eb-collapse-item__header.is-disabled,
.eb-collapse.eb-collapse .eb-collapse-item.is-disabled .eb-collapse-item__header {
  color: var(--eb-text-color-placeholder);
  cursor: not-allowed;
}
.eb-collapse.eb-collapse .eb-collapse-item__header.is-disabled:hover {
  color: var(--eb-text-color-placeholder);
}

.eb-collapse.eb-collapse .eb-collapse-item__arrow {
  display: inline-flex;
  align-items: center;
  color: var(--eb-text-color-secondary);
  transition: transform var(--eb-duration-base) var(--eb-ease-out);
}
.eb-collapse.eb-collapse .eb-collapse-item__header.is-active .eb-collapse-item__arrow {
  transform: rotate(90deg);
}

.eb-collapse.eb-collapse .eb-collapse-item__wrap {
  overflow: hidden;
  background-color: var(--eb-fill-color-blank);
  box-sizing: border-box;
  transition: height var(--eb-duration-base) var(--eb-ease-in-out);
  will-change: height;
}

.eb-collapse.eb-collapse .eb-collapse-item__content {
  padding: var(--eb-space-3) var(--eb-space-4);
  font-size: var(--eb-font-size-base);
  color: var(--eb-text-color-regular);
  line-height: var(--eb-line-height-loose);
}
