/* EbContainer / Header / Aside / Main / Footer —布局 */

.eb-container.eb-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
}
.eb-container.eb-container.is-vertical {
  flex-direction: column;
}

.eb-header.eb-header {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0 var(--eb-space-4);
}

.eb-aside.eb-aside {
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: var(--eb-bg-color);
  overflow: auto;
}

.eb-main.eb-main {
  display: block;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: var(--eb-space-4);
}

.eb-footer.eb-footer {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0 var(--eb-space-4);
}
