/* EbEmpty —空状态 */

.eb-empty.eb-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: var(--eb-space-8) 0;
}

.eb-empty.eb-empty .eb-empty__image {
  width: 80px;
}
.eb-empty.eb-empty .eb-empty__image img,
.eb-empty.eb-empty .eb-empty__image svg {
  width: 100%;
  height: auto;
  user-select: none;
  vertical-align: top;
}

.eb-empty.eb-empty .eb-empty__description {
  margin-top: var(--eb-space-4);
  color: var(--eb-text-color-secondary);
  font-size: var(--eb-font-size-xs);
  line-height: 1.5;
}

.eb-empty.eb-empty .eb-empty__bottom {
  margin-top: var(--eb-space-5);
}
