/* EvImage —图片 */

.ev-image.ev-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.ev-image.ev-image.is-round {
  border-radius: var(--ev-radius-full);
}

.ev-image.ev-image .ev-image__inner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity var(--ev-duration-base) var(--ev-ease-out);
}
.ev-image.ev-image .ev-image__inner--fill {
  object-fit: fill;
}
.ev-image.ev-image .ev-image__inner--contain {
  object-fit: contain;
}
.ev-image.ev-image .ev-image__inner--cover {
  object-fit: cover;
}
.ev-image.ev-image .ev-image__inner--none {
  object-fit: none;
}
.ev-image.ev-image .ev-image__inner--scale-down {
  object-fit: scale-down;
}

.ev-image.ev-image .ev-image__placeholder,
.ev-image.ev-image .ev-image__error {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ev-fill-color-light);
  color: var(--ev-text-color-placeholder);
  font-size: var(--ev-font-size-xs);
}

.ev-image.ev-image .ev-image__placeholder + .ev-image__inner {
  position: relative;
}
