/* EbBreadcrumb —面包屑 */

.eb-breadcrumb.eb-breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--eb-font-size-base);
  line-height: var(--eb-line-height-base);
  color: var(--eb-text-color-regular);
}

.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__inner {
  display: inline-flex;
  align-items: center;
  color: var(--eb-text-color-regular);
  font-weight: var(--eb-font-weight-regular);
  transition: color var(--eb-duration-fast) var(--eb-ease-out);
}

.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__inner.is-link {
  color: var(--eb-color-primary);
  font-weight: var(--eb-font-weight-medium);
  text-decoration: none;
  cursor: pointer;
}
.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__inner.is-link:hover {
  color: var(--eb-color-primary-light-3);
}
.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__inner.is-link:active {
  color: var(--eb-color-primary-dark-2);
}

.eb-breadcrumb.eb-breadcrumb .eb-breadcrumb__separator {
  display: inline-flex;
  align-items: center;
  margin: 0 var(--eb-breadcrumb-separator-gap, var(--eb-space-2));
  color: var(--eb-text-color-placeholder);
  font-weight: var(--eb-font-weight-regular);
}
