/* EbRadioButton — 按钮风格单选 */

.eb-radio-button.eb-radio-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  background: var(--eb-button-bg-color, var(--eb-fill-color-blank));
  border: 1px solid var(--eb-border-color);
  color: var(--eb-text-color-regular);
  -webkit-appearance: none;
  user-select: none;
}
.eb-radio-button.eb-radio-button--large.eb-radio-button {
  height: 40px;
}
.eb-radio-button.eb-radio-button--small.eb-radio-button {
  height: 24px;
  font-size: var(--eb-font-size-xs);
}

.eb-radio-button.eb-radio-button + .eb-radio-button.eb-radio-button {
  margin-left: -1px;
}
.eb-radio-button.eb-radio-button:first-child {
  border-radius: var(--eb-radius-md) 0 0 var(--eb-radius-md);
}
.eb-radio-button.eb-radio-button:last-child {
  border-radius: 0 var(--eb-radius-md) var(--eb-radius-md) 0;
}

.eb-radio-button.eb-radio-button .eb-radio-button__inner {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  font-size: var(--eb-font-size-base);
  line-height: 1;
  border-radius: inherit;
  transition:
    color var(--eb-duration-fast) var(--eb-ease-out),
    background-color var(--eb-duration-fast) var(--eb-ease-out);
}
.eb-radio-button.eb-radio-button--small.eb-radio-button .eb-radio-button__inner {
  padding: 0 11px;
}

.eb-radio-button.eb-radio-button .eb-radio-button__original-radio {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  cursor: inherit;
}

/* hover */
.eb-radio-button.eb-radio-button:not(.is-disabled):not(.is-active):hover {
  color: var(--eb-color-primary);
  z-index: 1;
}

/* active 态 */
.eb-radio-button.eb-radio-button.is-active .eb-radio-button__inner {
  color: #fff;
  background-color: var(--eb-color-primary);
  border-color: var(--eb-color-primary);
  box-shadow: -1px 0 0 0 var(--eb-color-primary);
  position: relative;
  z-index: 1;
}
.eb-radio-button.eb-radio-button.is-active {
  border-color: var(--eb-color-primary);
  z-index: 1;
}

/* disabled */
.eb-radio-button.eb-radio-button.is-disabled {
  cursor: not-allowed;
  color: var(--eb-text-color-placeholder);
  background-color: var(--eb-fill-color-light);
  border-color: var(--eb-border-color-light);
}
.eb-radio-button.eb-radio-button.is-disabled .eb-radio-button__inner {
  color: inherit;
  background: transparent;
}
.eb-radio-button.eb-radio-button.is-disabled.is-active .eb-radio-button__inner {
  background-color: var(--eb-color-primary-light-5);
  box-shadow: none;
}
