/* EbBadge —徽标 */

.eb-badge.eb-badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eb-badge.eb-badge .eb-badge__content {
  --eb-badge-bg-color: var(--eb-color-danger);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  padding: 0 6px;
  font-size: var(--eb-font-size-xs);
  line-height: 1;
  color: var(--eb-color-white);
  background-color: var(--eb-badge-bg-color);
  border-radius: var(--eb-radius-full);
  white-space: nowrap;
}
.eb-badge.eb-badge .eb-badge__content--primary { --eb-badge-bg-color: var(--eb-color-primary); }
.eb-badge.eb-badge .eb-badge__content--success { --eb-badge-bg-color: var(--eb-color-success); }
.eb-badge.eb-badge .eb-badge__content--warning { --eb-badge-bg-color: var(--eb-color-warning); }
.eb-badge.eb-badge .eb-badge__content--info { --eb-badge-bg-color: var(--eb-color-info); }

/* fixed：右上角 */
.eb-badge.eb-badge .eb-badge__content.is-fixed {
  position: absolute;
  top: 0;
  right: calc(1 * var(--eb-badge-size, 18px) / 2 + 1px);
  transform: translateY(-50%) translateX(100%);
  z-index: calc(var(--eb-index-normal, 1) + 1);
}

/* dot */
.eb-badge.eb-badge .eb-badge__content.is-dot {
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: var(--eb-radius-circle);
}
.eb-badge.eb-badge .eb-badge__content.is-dot.is-fixed {
  top: 4px;
  right: 4px;
  transform: none;
}
