/* EvDivider —分割线 */

.ev-divider.ev-divider {
  --ev-border-color: var(--ev-border-color);
  position: relative;
  border-top: 1px solid var(--ev-border-color-light);
  margin: var(--ev-space-4) 0;
  background-color: transparent;
}
.ev-divider.ev-divider--vertical.ev-divider {
  display: inline-block;
  width: 1px;
  height: 1em;
  margin: 0 var(--ev-space-2);
  vertical-align: middle;
  border-top: none;
  border-left: 1px solid var(--ev-border-color-light);
}

/* border-style 变体 */
.ev-divider.ev-divider.ev-divider--dashed {
  border-top-style: dashed;
}
.ev-divider.ev-divider.ev-divider--dotted {
  border-top-style: dotted;
}
.ev-divider.ev-divider.ev-divider--double {
  border-top-style: double;
}
.ev-divider.ev-divider.ev-divider--none {
  border-top-style: none;
}
.ev-divider.ev-divider--vertical.ev-divider.ev-divider--dashed {
  border-left-style: dashed;
  border-top-style: none;
}
.ev-divider.ev-divider--vertical.ev-divider.ev-divider--dotted {
  border-left-style: dotted;
  border-top-style: none;
}

/* 文本 */
.ev-divider.ev-divider .ev-divider__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--ev-bg-color);
  padding: 0 var(--ev-space-4);
  font-size: var(--ev-font-size-base);
  color: var(--ev-text-color-primary);
  font-weight: var(--ev-font-weight-medium);
  white-space: nowrap;
}
.ev-divider.ev-divider .ev-divider__text.is-left {
  left: var(--ev-space-4);
}
.ev-divider.ev-divider .ev-divider__text.is-center {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.ev-divider.ev-divider .ev-divider__text.is-right {
  right: var(--ev-space-4);
}
