/* EbAvatar —头像 */

.eb-avatar.eb-avatar {
  --eb-avatar-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--eb-avatar-size);
  height: var(--eb-avatar-size);
  line-height: var(--eb-avatar-size);
  font-size: calc(var(--eb-avatar-size) / 2.4);
  color: var(--eb-color-white);
  background: var(--eb-fill-color-dark);
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  user-select: none;
}
.eb-avatar.eb-avatar--small.eb-avatar {
  --eb-avatar-size: 24px;
}
.eb-avatar.eb-avatar--large.eb-avatar {
  --eb-avatar-size: 56px;
}
.eb-avatar.eb-avatar--circle.eb-avatar {
  border-radius: var(--eb-radius-circle);
}
.eb-avatar.eb-avatar--square.eb-avatar {
  border-radius: var(--eb-radius-md);
}

.eb-avatar.eb-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.eb-avatar.eb-avatar.is-error img {
  display: none;
}

/* ─── AvatarGroup 叠放 ─── */
.eb-avatar-group.eb-avatar-group {
  display: inline-flex;
  align-items: center;
}
.eb-avatar-group.eb-avatar-group .eb-avatar.eb-avatar + .eb-avatar.eb-avatar {
  margin-left: -10px;
  box-shadow: 0 0 0 2px var(--eb-bg-color);
  position: relative;
}
