/* EbPopconfirm —气泡确认框 */

.eb-popper.eb-popconfirm.eb-popconfirm {
  min-width: 200px;
  padding: 12px;
}

.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__main {
  display: flex;
  align-items: center;
  gap: var(--eb-space-2);
  margin-bottom: var(--eb-space-3);
}

.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon {
  flex-shrink: 0;
}
.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon.is-warning {
  color: var(--eb-color-warning);
}
.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon.is-primary {
  color: var(--eb-color-primary);
}
.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon.is-success {
  color: var(--eb-color-success);
}
.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon.is-danger {
  color: var(--eb-color-danger);
}
.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__icon.is-info {
  color: var(--eb-color-info);
}

.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__title {
  font-size: var(--eb-font-size-base);
  color: var(--eb-text-color-primary);
  line-height: 1.4;
}

.eb-popper.eb-popconfirm.eb-popconfirm .eb-popconfirm__action {
  display: flex;
  justify-content: flex-end;
  gap: var(--eb-space-2);
}
